body {
	/* background-color: #f8f8f8; */
	margin: 0 auto;
	font-size: 10px;
	padding: 4em;
	text-align: center;
	/* font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; */
	font-family: "Roboto", sans-serif;
}

h1 {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	text-transform: capitalize;
}

.greeting {
	font-size: 160px;
	margin: 0;
}

.subtitle {
	font-size: 12em;
	text-transform: lowercase;
	margin: 0;
}

#about {
	padding-bottom: .7em;
}
.sub {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 40px;
	margin: 0;
	/* color: #dcdcdc; */
	/* color: #a0a0a0; */
}

h3, a {
	color: #a0a0a0;
}

main {
	background-color: #f8f8f8;
	padding: 10px 0;
	margin-bottom: 10px;
}
.content {
	/* border-color: blue; */
	/* border: 3px solid blue; */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	text-align: left;
	height: 100vh;
}

.content.logo {
	height: 100%;
}

p {
	font-size: 1.8em;
	/* color: #444; */
	max-width: 30em;
	width: 100%;
	margin: 1em auto;
	/* font-size: 1.8em; */
	line-height: 1.;
	/* font-weight: 300; */
}

.project-links {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.6rem;
	font-weight: 500;
	text-align: center;
	/* padding-left: 20px; */
	margin-top: 84px;
}
.project-links a {
	font-weight: 700;
}
a {
	color: #000;
	text-decoration: none;
	padding-left: 30px;
}
.logo-link {
	padding-left: 0;
}
a:hover {
	text-decoration: underline;
	/* font-size: 1.7rem; */
	color:	#fbb040;
}

.poster-link {
	font-weight: 700;
	text-align: center;
}
img.logo {
	width: 100%;
	height: auto;
	max-width: 30em;
	max-height: 30em;
	margin: 2em auto;
}
img.one {
	display: block;
	margin: 6em auto;	
	max-width: 120em;
	border: 3px solid  #404040;
}

.photo-section {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
}
.photo-section img {
	max-width: 50em;
	max-height: 50em;
	border: 3px solid  #404040;
}
header {
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: baseline;
	width: 100%;
	/* height: 50%; */
	/* border: 1px solid green; */
}
header span {
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
}
header nav a {
	padding-left: 30px;
	font-family: "Roboto", sans-serif;
	/* font-family: "Source Sans Pro", sans-serif; */
	font-weight: 700;
	font-size: 1rem;
}
.class-name {
	padding-left: 30px;
	font-family: "Roboto", sans-serif;
	/* font-family: "Source Sans Pro", sans-serif; */
	font-weight: 700;
	font-size: 1rem;
}

.name {
	padding-left: 0;
}

.footer {
font-size: 12px;
}